/*
Sommaire

    - Variables

    - Nav

    - Home section

    - About section

    - Features section

    - Available section

    - Price section

    - Contact section

    - Footer

*/

/* Variables */

:root {
    --main-bg-color: #0A0A0A;

    --secondary-bg-color: #f8f8f9;

    --call-to-action: #27206E;

    --secondary-font-color: #A29BEE;
}

/* end Variables */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: var(--secondary-bg-color);
}

section {
    background-color: var(--secondary-bg-color);
}

a {
    text-decoration: none;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    max-height: 100px;
    background-color: var(--main-bg-color);
}

nav img {
    width: 88px;
    height: 88px;
}

nav div {
    width: 88px;
    height: 88px;
    background-image: url("../images/menu_button.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

/* End Nav */

/* Home section */

.home {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-image: url("../images/background_home.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.home h1 {
    font-size: 36px;
    margin: 50px auto 0 auto;
    color: var(--secondary-bg-color);
    height: 36px;
    /*text-shadow: 0 0 0.2em #F8F8F9, 0 0 0.2em #F8F8F9, 0 0 0.2em #F8F8F9;*/
}

.home h2 {
    font-size: 24px;
    color: var(--secondary-font-color);
    text-align: center;
    margin: 0 auto 20px auto;
    text-shadow: 0 0 0.2em var(--secondary-bg-color), 0 0 0.2em var(--secondary-bg-color);
}

.home p {

}

/* end Home section */

/* About section */

.about {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    background-image: url("../images/background_about.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.about h2 {
    margin: 30px auto;
    text-align: center;
    font-size: 36px;
}

.about img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.about p {
    margin: 30px auto;
    text-align: center;
    padding: 0 10px;
}

.button {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.2em var(--secondary-bg-color), 0 0 0.2em var(--secondary-bg-color);
    border-radius: 25px;
    min-width: 150px;
    max-width: 150px;
    min-height: 50px;

    font-size: 20px;
    font-weight: bold;
}

.about a {
    color: var(--secondary-font-color);
}

/* end About section */

/* Features section */

.features {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 40px 20px 60px 20px;
    min-height: 1320px;
    background-image: url("../images/background_features.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: white;
}

.features h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-bg-color);
    margin: auto;
    font-size: 36px;
}

.bloc-feature {
    display: grid;
    width: 280px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 0 0 0.2em var(--secondary-bg-color), 0 0 0.2em var(--secondary-bg-color);
    margin: auto;
    padding: 10px;
}

.bloc-feature img {
    margin: auto;
    width: 200px;
    height: 237px;
}

.bloc-feature h3 {
    margin: auto;
    text-align: center;
    color: var(--secondary-bg-color);
}

.bloc-feature p {
    margin: auto;
    width: 240px;
    height: 100px;
    text-align: center;
}

/* end Features section */

/* Available section */

.available {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 40px 20px 60px 20px;
    text-align: center;
    min-height: 550px;
    background-image: url("../images/background_available.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.available h2 {
    margin: 20px auto 10px auto;
    text-align: center;
    font-size: 36px;
    height: 36px;
    color: var(--secondary-bg-color);
}

.available h3 {
    margin: auto;
    text-align: center;
    color: var(--secondary-bg-color);
}

.bloc-available img {
    margin: 10px auto 10px auto;
    width: 80px;
    height: 80px;
}

/* end Available section */

/* Price section */

.price {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 60px 20px;

    background-image: url("../images/background_price.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.price h2 {
    margin: auto;
    text-align: center;
    color: var(--secondary-bg-color);
    font-size: 36px;
}

.bloc-price {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 240px;
    height: 600px;
    border-radius: 25px;
    color: var(--secondary-bg-color);

    padding: 20px;

    background-color: var(--main-bg-color);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bronze {
    background-image: url("../images/background_price_card_1.png");
    box-shadow: 0 0 0.5em #623e2d, 0 0 0.5em #623e2d, 0 0 0.5em #623e2d;
}

.silver {
    background-image: url("../images/background_price_card_2.png");
    box-shadow: 0 0 0.5em  #7d7d7d, 0 0 0.5em  #7d7d7d, 0 0 0.5em  #7d7d7d;
}

.gold {
    background-image: url("../images/background_price_card_3.png");
    box-shadow: 0 0 0.5em #b4871b, 0 0 0.5em #b4871b, 0 0 0.5em #b4871b;
}

.bloc-price h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.bloc-price p {
    height: 70%;
    text-align: center;
}

.bloc-price div {
    margin: 20px;
    height: 10%;
    background-color: var(--main-bg-color);

}

/* end Price section */

/* Contact section */

.contact {
    padding: 20px 40px;
    min-height: 100vh;

    background-image: url("../images/background_contact.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.contact h2 {
    text-align: center;
    margin: 30px auto;
    font-size: 36px;
}

.contact input {
    background-color: var(--secondary-bg-color);
    border: none;
}

.contact textarea {
    resize : none;
}

.input-contact {
    background-color: var(--secondary-bg-color);
    padding: 5px;
    text-align: left;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 0.3em var(--main-bg-color), 0 0 0.3em var(--main-bg-color);
    text-decoration: none;
    margin: 20px 5px;
    width: 100%;
}

/* end Contact section */

/* Footer */

footer {
    display: flex;
    height: 150px;
    background-color: var(--main-bg-color);
}

footer img {
    width: 80px;
    height: 80px;
    margin: auto;
}

footer p {
    color: var(--secondary-bg-color);
    margin: auto;
}

/* end Footer */
